@media print{
	
  html, body {
    float:left;
    
  }
  @page {                
    size: A4;
    margin: 0mm;
  }
  

  html {
    width: 1200px;
    margin-left:-555px;
  }


  body {
    
    line-height: 1em;
    word-spacing:1px;
    letter-spacing:0.2px;
    font: 14px "Times New Roman", Times, serif;
    background:white;
    color:black;
    width: 100%;
    
    
  }
div >.table-outer{
	height:unset;
  overflow:visible;
}
  /* avoid page-breaks inside a listingContainer*/
  .listingContainer{
    page-break-inside: avoid;
  }

  h1 {
    font: 28px "Times New Roman", Times, serif;
  }

  h2 {
    font: 24px "Times New Roman", Times, serif;
  }

  h3 {
    font: 20px "Times New Roman", Times, serif;
  }

  /* Improve colour contrast of links */
  a:link, a:visited {
    color: #781351
  }

  /* URL */
  a:link, a:visited {
    background: transparent;
    color:#333;
    text-decoration:none;
  }

  a[href]:after {
    content: "" !important;
  }

  a[href^="http://"] {
    color:#000;
  }
 
  #header {
    height:75px;
    font-size: 24pt;
    color:black
  }
  .table-outer:after{
  height:unset;
  overflow:visible;
}


}