@media screen{
	
	
}
#files, #url{
	margin:auto; 
	width:70%; 
	border:1px solid #ebebe0;
	margin-top:20px;
	background-color:white;
}
#local{
	float:left;
	margin-top:8px;
}
.jumbotron{
	width:50%;
	margin:auto;
	margin-top:50px;
	margin-bottom:50px;
	text-align:center;
}
#myAccordion{
	width:50%;
	margin:auto;
}
#TITLE{
	text-align:center;
	
	margin:auto;
	
}
  
.form-group{
	
}


  body {    
    line-height: 1em;
    word-spacing:1px;
    letter-spacing:0.2px;
    font: 14px "Times New Roman", Times, serif;
    background:white;
    color:black;
        
  }
 
footer{
	margin:auto;
	text-align:center;
}
#print{
	margin:auto;
	text-align:center;
}
#exe,#table{
	width:65%;
	margin: auto;
	margin-left:420px;
	margin-top:10px;
}
#content{
	border:1px solid #ebebe0;
	background-color:white;
}
#box{
	
	margin-left:20px;
	text-align:left;
}
.danger{
	
	border: 1px solid transparent;
	background-color: #f7c5c5;
	border-color: #e2b5b5;
	
}
.success{
	
	border: 1px solid transparent;
	background-color: #d9eace;
	border-color: #c0d1b5;
}
  
  /* avoid page-breaks inside a listingContainer*/
  .listingContainer{
    page-break-inside: avoid;
  }

  h1 {
    font: 28px "Times New Roman", Times, serif;
  }

  h2 {
    font: 24px "Times New Roman", Times, serif;
  }

  h3 {
    font: 20px "Times New Roman", Times, serif;
  }

footer{
	margin:auto;
	text-align:center;
}
#print{
	margin:auto;
	text-align:center;
}
.table-outer {
				height:100px;
				overflow:hidden;
		}
			
	.table-outer.open {
				height:unset;
				overflow:visible;
	}
.navigation {
	position:fixed;
	width:24%;
	
	}
.nav-item{
	margin-bottom:-3px;
}
#log{
	background-color:white;
	width:80%;
	margin:auto;
}
