#file{
	margin:auto; 
	width:50%; 
	border:1px solid #ebebe0;
	margin-top:20px;
	background-color:white;
}
.jumbotron{
	width:50%;
	margin:auto;
	margin-top:50px;
	margin-bottom:50px;
	text-align:center;
}
#myAccordion{
	width:50%;
	margin:auto;
}
#TITLE{
	text-align:center;
	
	margin:auto;
	
}
.table-outer {
				height:100px;
				overflow:hidden;
		}
			
	.table-outer.open {
				height:unset;
				overflow:visible;
	}
.navigation {position:fixed;}

#log{
	background-color:white;
	width:80%;
	margin:auto;
}

#table{
	width:100%;
	margin: auto;
	margin-top:15px;
}
#content{
	border:1px solid #ebebe0;
	background-color:white;
}
#box{
	
	margin-left:20px;
	text-align:left;
}
.danger{
	
	border: 1px solid transparent;
	background-color: #f7c5c5;
	border-color: #e2b5b5;
	
}
.success{
	
	border: 1px solid transparent;
	background-color: #d9eace;
	border-color: #c0d1b5;
}

.navigation {
	margin-left: 1.5em;
}
#sidebar > li > a {
	padding: 3px 15px;
}

#stat{
	
	width:65%;
	margin-left:570px;
	
}
