#file{
	margin:auto; 
	width:50%; 
	border:1px solid #ebebe0;
	margin-top:20px;
	background-color:white;
}
.jumbotron{
	width:50%;
	margin:auto;
	margin-top:50px;
	text-align:center;
}
#TITLE{
	text-align:center;
	margin:auto;
}

#log{
	background-color:white;
	width:80%;
	margin:auto;
}

#table{
	width:80%;
	margin: auto;
	margin-top:15px;
}
#content{
	border:1px solid #ebebe0;
}
#box{
	
	margin-left:20px;
}
