<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- ***** Basic application bootstraping ***** -->
	<import resource="rules.xml" />
    <!-- scans the annotations in the source code to find @Controller, @Autowired, @Value and more -->
    <context:component-scan base-package="fr.sparna.validator"/>

	<!-- Maps /** to the DefaultServletHandler -->
	<mvc:default-servlet-handler />
	
	<mvc:annotation-driven />

	<!-- 	Resolves the view names to JSP in the /WEB-INF/jsp/ folder 
			(eg. if Controller returns view name "edit", the jsp /WEB-INF/jsp/edit.jsp will ba called)
	-->
	<bean	id="viewResolver"
			class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
    	<property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
        <property name="order" value="1" />
    </bean>

	<bean id="multipartResolver"  
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
    </bean>
  	<bean id="ValidatorConfig" class="fr.sparna.validator.ValidatorConfig" factory-method="getInstance" />
	<bean id="applicationData" class="fr.sparna.validator.ApplicationData">
		
		<property name="issueDescriptions">
			<list >
				<ref bean="issue-oc" />
				<ref bean="issue-el" />
				<ref bean="issue-uc" />
				<ref bean="issue-ilc" />
				<ref bean="issue-oilt" />
				<ref bean="issue-ol" />
				<ref bean="issue-mol" />
				<ref bean="issue-ml" />
				<ref bean="issue-dcc" />
				<ref bean="issue-hr" />
				<ref bean="issue-anr" />
				<ref bean="issue-rrc" />
				<ref bean="issue-strc" />
				<ref bean="issue-urc" />
				<ref bean="issue-var" />
				<ref bean="issue-mri" />
				<ref bean="issue-rc" />
				<ref bean="issue-usr" />
				<ref bean="issue-husv" />
				<ref bean="issue-tchbc" />
				<ref bean="issue-otc" />
				<ref bean="issue-dlv" />
				<ref bean="issue-ncl" />
				<ref bean="issue-ipl" />
				<ref bean="issue-ucil" />
				<ref bean="issue-bl" />
				
				<ref bean="issue-chr" />
			</list>
		</property>
		
	</bean>
	<bean class="org.springframework.web.context.support.ServletContextAttributeExporter">
        <property name="attributes">
            <map>
                <entry key="applicationData" value-ref="applicationData" />
            </map>
        </property>
    </bean>
    <!-- ***** Application Config ***** -->
    
    <!-- Maps the resources URL to a physical directory so that we can easily change 'themes' -->
    <mvc:resources mapping="/resources/**" location="/theme-paper/"  />

	<!-- / Application Config -->
	
	

</beans>