/**
 * Example Print Preview site
 *
 *	print.css
 *	author: Tim Connell
 */

/* -- Hide screen specific elements -- */
.hidden-print {
    display: none;
}

 @page {                
    size: A4;
    margin: 0;
    margin-top:50px;
  }


/* -- Typography -- */
p, table, ul, ol, dl, blockquote, pre, code, form {
    margin: 0 0 1em;
}


.table-outer:FIRST-CHILD{
	height:unset;
  overflow:visible;
}


a:link:after, 
a:visited:after {
  content: "";
  font-size: 80%;
  text-decoration: none;
}


/* -- Accommodate JS driven elements --*/
#feature > div {
    border: none;
    overflow: visible;
    height: auto;
}
    
/* -- Footer -- */
#footer {
    border-top: 1px solid #cecece;
    font-size: 0.83em;
    margin: 2em 0 0;
    padding: 1em 0 0;
}
#file{
	margin:auto; 
	width:50%; 
	border:1px solid #ebebe0;
	margin-top:20px;
	background-color:white;
}
.jumbotron{
	width:50%;
	margin:auto;
	margin-top:50px;
	margin-bottom:50px;
	text-align:center;
}
#myAccordion{
	width:50%;
	margin:auto;
}
#TITLE{
	text-align:center;
	
	margin:auto;
	
}
  



  body {    
    line-height: 1em;
    word-spacing:1px;
    letter-spacing:0.2px;
    font: 14px "Times New Roman", Times, serif;
    background:white;
    color:black;
        
  }
 
footer{
	margin:auto;
	text-align:center;
}
#print{
	margin:auto;
	text-align:center;
}

#table, #exe{
	
	margin: auto;
	margin-top:15px;
}
#content{
	border:1px solid #ebebe0;
	background-color:white;
}
#box{
	
	margin-left:20px;
	text-align:left;
}
.danger{
	
	border: 1px solid transparent;
	background-color: #f7c5c5;
	border-color: #e2b5b5;
	
}
.success{
	
	border: 1px solid transparent;
	background-color: #d9eace;
	border-color: #c0d1b5;
}
  
  /* avoid page-breaks inside a listingContainer*/
  .listingContainer{
    page-break-inside: avoid;
  }

  h1 {
    font: 28px "Times New Roman", Times, serif;
  }

  h2 {
    font: 24px "Times New Roman", Times, serif;
  }

  h3 {
    font: 20px "Times New Roman", Times, serif;
  }

footer{
	margin:auto;
	text-align:center;
}
#print{
	margin:auto;
	text-align:center;
}
.table-outer {
				height:100px;
				overflow:hidden;
		}
			
	.table-outer.open {
				height:unset;
				overflow:visible;
	}
.navigation {position:fixed;}

#log{
	background-color:white;
	width:80%;
	margin:auto;
}

#result-container {
	width:auto;
	margin-left:auto;
}